Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

rename file, reflow comment
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
Labels: package:dart_mcp

remove unused dep
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

s/logging/completion
  pkgs/dart_mcp/lib/src/server/completions_support.dart
Labels: package:dart_mcp

review updates, add docs and test for resource template completion
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/test/completions_test.dart
Labels: package:dart_mcp

support requests with no request params and no response data, handle null params for ping and listTools
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

remove the server name argument from the connect methods
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/roots_support.dart
  pkgs/dart_mcp/test/test_utils.dart
Labels: package:dart_mcp

add test that connections are cleaned up if shut down directly
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/roots_support.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

add fake editor service for getting debug sessions
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: none

cleanup harness code a bit by splitting up logic into functions
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: none

get tests passing
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: none

install the flutter sdk on CI
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

fix matrix config in github actions
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

fix indentation
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

use channel instead of version in action config
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

fetch counter app deps prior to analyzing
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

try to fix the working dir
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

lower sdk constraints so we can test on flutter stable
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/pubspec.yaml
Labels: package:dart_mcp

remove unused dependency
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: none

reformat with new version
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: none

reformat dart_mcp as well
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/logging.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/sampling.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/prompts_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
Labels: package:dart_mcp

install required linux build deps
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

more indentation?
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

try using xvfb to run the test
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

format
  pkgs/dart_mcp/lib/src/client/client.dart
Labels: package:dart_mcp

fix compile error after merge
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: none

code review updates
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: none

delete windows and android dirs
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/.gitignore
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/build.gradle.kts
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/debug/AndroidManifest.xml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/AndroidManifest.xml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/kotlin/com/example/counter_app/MainActivity.kt
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/drawable-v21/launch_background.xml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/drawable/launch_background.xml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/values-night/styles.xml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/main/res/values/styles.xml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/app/src/profile/AndroidManifest.xml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/build.gradle.kts
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/gradle.properties
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/gradle/wrapper/gradle-wrapper.properties
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/android/settings.gradle.kts
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/.gitignore
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/CMakeLists.txt
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/flutter/CMakeLists.txt
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/flutter/generated_plugin_registrant.cc
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/flutter/generated_plugin_registrant.h
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/flutter/generated_plugins.cmake
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/CMakeLists.txt
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/Runner.rc
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/flutter_window.cpp
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/flutter_window.h
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/main.cpp
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/resource.h
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/resources/app_icon.ico
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/runner.exe.manifest
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/utils.cpp
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/utils.h
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/win32_window.cpp
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/windows/runner/win32_window.h
Labels: none

update counter app so its a cleaner slate to work off of
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/analysis_options.yaml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/lib/main.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/test/widget_test.dart
Labels: none

populate package info in README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Write the readme for dart_mcp
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_mcp

follow ups to previous cl
  README.md
Labels: none

update first sentence of readme to match package description
  pkgs/dart_mcp/README.md
Labels: package:dart_mcp

add clarifying comment to implementing clients readme
  pkgs/dart_mcp/README.md
Labels: package:dart_mcp
