Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

add initial server API and IO impl
  pkgs/dart_mcp/lib/server.dart
  pkgs/dart_mcp/lib/src/server/api.dart
  pkgs/dart_mcp/lib/src/server/stdio.dart
  pkgs/dart_mcp/lib/stdio_server.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

add server executable
  pkgs/dart_mcp/bin/server.dart
  pkgs/dart_mcp/lib/src/server/api.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

implement the Tools capability
  pkgs/dart_mcp/bin/server.dart
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/server.dart
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/server/api.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/stdio.dart
  pkgs/dart_mcp/lib/stdio_server.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

add client, end to end example, and unit test
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/client.dart
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/util.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

add workflow file for dart_mcp
  .github/workflows/dart_mcp.yaml
Labels: type-infra

remove unused import
  pkgs/dart_mcp/example/server.dart
Labels: package:dart_mcp

format
  pkgs/dart_mcp/lib/src/api.dart
Labels: package:dart_mcp

add analysis_options.yaml, fix all lints
  pkgs/dart_mcp/analysis_options.yaml
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/util.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

add explicit methods for registering tools, handles routing, listTools, and notifyListToolsChanged for you
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

delete ts api for ToolListChangedNotification
  pkgs/dart_mcp/lib/src/api.dart
Labels: package:dart_mcp

update example to the new API
  pkgs/dart_mcp/example/server.dart
Labels: package:dart_mcp

checkpoint
  pkgs/dart_tooling_mcp_server/LICENSE
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/analysis_options.yaml
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/dart_tooling_mcp_server.dart
  pkgs/dart_tooling_mcp_server/lib/src/editor.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: none

small bug fixes and tweaks
  .gitignore
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/util.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

small fixes
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: none

small bug fixes and tweaks
  .gitignore
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/util.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

add README instructions
  pkgs/dart_tooling_mcp_server/README.md
Labels: none

spelling
  pkgs/dart_mcp/example/server.dart
Labels: package:dart_mcp

add MCP inspector notes to readme
  pkgs/dart_tooling_mcp_server/README.md
Labels: none

more specific handling of unregistering services
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: none

fix spelling
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: none

rename editor.dart => dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: none

code review updates
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: none

add workflow, test scaffold
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
Labels: none

add workflow file for dart_tooling_mcp_server
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

Extract the DTD support out to its own mixin, add connect method
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: none

update readme instructions
  pkgs/dart_tooling_mcp_server/README.md
Labels: none

implement the resource APIs
  pkgs/dart_mcp/lib/src/api.dart
Labels: package:dart_mcp

move tool support to a part file
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
Labels: package:dart_mcp

add ResourcesSupport mixin for resource support
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
Labels: package:dart_mcp

refactor tests to extract TestEnvironment
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/util.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

add basic tests for resource support
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

reflow comments
  pkgs/dart_mcp/lib/src/api.dart
Labels: package:dart_mcp

code review updates
  pkgs/dart_mcp/lib/src/server/resources_support.dart
Labels: package:dart_mcp

add client support for tool and resource streams
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: package:dart_mcp

add resource subscription test
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/test_utils.dart
Labels: package:dart_mcp

add test for tool list subscriptions
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

add base to DartToolingDaemonSupport mixin
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: none

port the prompt APIs
  pkgs/dart_mcp/lib/src/api.dart
Labels: package:dart_mcp

add server support for prompts
  pkgs/dart_mcp/lib/src/api.dart
  pkgs/dart_mcp/lib/src/server/prompts_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
Labels: package:dart_mcp

add client support for prompts
  pkgs/dart_mcp/lib/src/client/client.dart
Labels: package:dart_mcp
