Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'

Refactor annotation scanner test to update server class structure
  pkgs/mcp_codegen/test/scanners/annotation_scanner_test.dart
Labels: none

Update dependencies and clean up demo server code
  examples/demo_server/bin/main.dart
  examples/demo_server/bin/main.mcp.g.dart
  examples/demo_server/pubspec.yaml
  pkgs/mcp_annotations/CHANGELOG.md
  pkgs/mcp_annotations/LICENSE
  pkgs/mcp_annotations/pubspec.yaml
  pkgs/mcp_codegen/CHANGELOG.md
  pkgs/mcp_codegen/LICENSE
  pkgs/mcp_codegen/pubspec.yaml
Labels: none

Explain no 'or' operator in tool description
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Fix merge
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Sort dependencies
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

use resident compiler and dart run to speed up tests. Update readme with pub global activate instructions
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

handle failing to listen to vm service streams during startup
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

fix file system server to properly use relative paths
  pkgs/dart_mcp/example/file_system_server.dart
Labels: package:dart_mcp

fix file system server to properly use relative paths
  pkgs/dart_mcp/example/file_system_server.dart
Labels: package:dart_mcp

require absolute paths if multiple roots are configured
  pkgs/dart_mcp/example/file_system_server.dart
Labels: package:dart_mcp

save the correct dir when selecting project dirs
  pkgs/dart_mcp/example/workflow_chat/lib/directory_input_screen.dart
Labels: package:dart_mcp

add screenshot instructions
  pkgs/dart_mcp/example/workflow_chat/lib/services/gemini_config.dart
Labels: package:dart_mcp

add instructions for activating from git and adding to your path
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

await in parallel
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

use dart pub run
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

Add Schema validation
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

Address some of review
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Fix rename
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Refactor to use `runWithClient`
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

dynamic -> Object
  pkgs/dart_tooling_mcp_server/lib/src/utils/json.dart
Labels: package:dart_tooling_mcp_server

Add log, address comments
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_mcp/lib/src/shared.dart
Labels: package:dart_mcp

Add server name to log messages, flush messages
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/shared.dart
Labels: package:dart_mcp

migrate several tests off of using the counter app and onto a test descriptor app
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
Labels: package:dart_tooling_mcp_server

update the cli_utils_test
  pkgs/dart_tooling_mcp_server/test/utils/cli_utils_test.dart
Labels: package:dart_tooling_mcp_server

move the path extension on Root out to test_harness.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_tooling_mcp_server

drop pubspec-parse, use yaml instead
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

fix dependency parsing
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
Labels: package:dart_tooling_mcp_server

Convert to Extension type for validation errors
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/tools_test.dart
Labels: package:dart_mcp

Add Schema validation
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/api_test.dart
  pkgs/dart_mcp/test/api/completions_test.dart
  pkgs/dart_mcp/test/api/logging_test.dart
  pkgs/dart_mcp/test/api/prompts_test.dart
  pkgs/dart_mcp/test/api/roots_test.dart
  pkgs/dart_mcp/test/api/sampling_test.dart
  pkgs/dart_mcp/test/api/tools_test.dart
  pkgs/dart_mcp/test/server/resources_support_test.dart
  pkgs/dart_mcp/test/server/roots_tracking_support_test.dart
  pkgs/dart_mcp/test/server/tools_support_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

migrate example dir to be a package, add README
  pkgs/dart_mcp/example/README.md
  pkgs/dart_mcp/example/bin/file_system_server.dart
  pkgs/dart_mcp/example/bin/simple_client.dart
  pkgs/dart_mcp/example/bin/simple_server.dart
  pkgs/dart_mcp/example/bin/workflow_client.dart
  pkgs/dart_mcp/example/pubspec.yaml
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

fix error handling around stream listeners
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

Address Review Comments
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/tools_test.dart
Labels: package:dart_mcp

Use list of strings instead of list of objects
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Restrict max number of listed identifiers
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Report the publisher of the package
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

add RootsFallbackSupport with the ability to add roots
  pkgs/dart_tooling_mcp_server/lib/src/mixins/roots_fallback_support.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
Labels: package:dart_tooling_mcp_server

add tool to remove roots as well
  pkgs/dart_tooling_mcp_server/lib/src/mixins/roots_fallback_support.dart
Labels: package:dart_tooling_mcp_server

add tests, get them passing
  pkgs/dart_tooling_mcp_server/lib/src/mixins/roots_fallback_support.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/tools/roots_fallback_support_test.dart
Labels: package:dart_tooling_mcp_server

add flag for forcing the roots fallback mode
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/roots_fallback_support.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/tools/roots_fallback_support_test.dart
Labels: package:dart_tooling_mcp_server
