Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'

add resource for runtime errors
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
Labels: package:dart_mcp

expect a false completion and pump the event queue instead of doing a delay
  pkgs/dart_mcp/test/resources_support_test.dart
Labels: package:dart_mcp

add tool to clear the runtime errors, as well as an argument to the hotReload tool to clear the errors before a hot reload
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

drop wasSince extension
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

add tests
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

get tests passing
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

try to ensure the debug session is shut down before shutting down dtd
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

remove debug sessions in stopDebugSession instead of when the app process dies
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

Making `instructions` optional.
  pkgs/dart_mcp/lib/src/api/initialization.dart
Labels: package:dart_mcp

Add changelog entry
  pkgs/dart_mcp/CHANGELOG.md
Labels: package:dart_mcp

Make instructions optional for factory constructor
  pkgs/dart_mcp/lib/src/api/initialization.dart
Labels: package:dart_mcp

drop the clear_runtime_errors tool, add option to the get_runtime_errors to clear them as well
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

use the client specified roots for all cli util commands, require paths and specified roots to fall under those roots
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
Labels: package:dart_tooling_mcp_server

add tests, fix implementation
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/utils/cli_utils_test.dart
Labels: package:dart_tooling_mcp_server

don't register the pub tools either if roots arent supported
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
Labels: package:dart_tooling_mcp_server

make roots not required
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
Labels: package:dart_tooling_mcp_server

fix implementation, tests
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
Labels: package:dart_tooling_mcp_server

add option to log protocol messages to a Sink<String>, use it to test the invalid protocol message flow
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/roots_test.dart
  pkgs/dart_mcp/test/roots_tracking_support_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

A pub search functionality
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

fix invalid root function, add tests
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/test/utils/cli_utils_test.dart
Labels: package:dart_tooling_mcp_server

code review updates
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

add more constants for map keys
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

make errors test not assume exactly one error, just increasing/decreasing numbers of errors
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

code review changes
  pkgs/dart_mcp/lib/src/client/client.dart
Labels: package:dart_mcp

change client text
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

add test for server closing early to validate behavior, document explicitly the behavior in initialize to encourage exception handling
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

code review updates
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

release dart_mcp version 0.2.0
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

Continue making `instructions` optional.
  pkgs/dart_mcp/lib/src/server/server.dart
Labels: package:dart_mcp

Update CHANGELOG.md
  pkgs/dart_mcp/CHANGELOG.md
Labels: package:dart_mcp

Update pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Detailed search term description
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Rename argument `search-query` -> `query`
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Remove unused import
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Underscores in tool name
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Readonlyhint: true
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Remove copy-paste waste
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Extract `dig` json utility
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/json.dart
Labels: package:dart_tooling_mcp_server
