Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

fix analyzer lints, remove dead code
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

handle failed calls to listRoots so we dont leave the roots completer uncompleted
  pkgs/dart_mcp/lib/src/server/roots_tracking_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
Labels: package:dart_mcp

move complex examples out to the top level instead
  mcp_examples/README.md
  mcp_examples/bin/file_system_server.dart
  mcp_examples/bin/workflow_client.dart
  mcp_examples/pubspec.yaml
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/README.md
  pkgs/dart_mcp/example/simple_client.dart
  pkgs/dart_mcp/example/simple_server.dart
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_mcp, package:dart_tooling_mcp_server

code review updates
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/roots_fallback_support.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/tools/roots_fallback_support_test.dart
Labels: package:dart_tooling_mcp_server

add changelog entry for the change to RootsTrackingSupport
  pkgs/dart_mcp/CHANGELOG.md
Labels: package:dart_mcp

Stop copying currentPath for list validation. Added a few edge case tests
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/tools_test.dart
Labels: package:dart_mcp

Make list const
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

Address Review Comments
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/tools_test.dart
Labels: package:dart_mcp

Convert to Extension type for validation errors
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/tools_test.dart
Labels: package:dart_mcp

Add Schema validation
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/api_test.dart
  pkgs/dart_mcp/test/api/completions_test.dart
  pkgs/dart_mcp/test/api/logging_test.dart
  pkgs/dart_mcp/test/api/prompts_test.dart
  pkgs/dart_mcp/test/api/roots_test.dart
  pkgs/dart_mcp/test/api/sampling_test.dart
  pkgs/dart_mcp/test/api/tools_test.dart
  pkgs/dart_mcp/test/server/resources_support_test.dart
  pkgs/dart_mcp/test/server/roots_tracking_support_test.dart
  pkgs/dart_mcp/test/server/tools_support_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

Switch to HashSet
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

Only copy path when creating a new error
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

migrate all but the flutter specific tests to use a dart app
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

restore some of the more complex flutter logic
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

add back full second wait for hot reload extension
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

send just a newline
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

code review updates, deduplicate errors to workaround stable issues
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

fix readme link
  pkgs/dart_mcp/README.md
Labels: package:dart_mcp

use flutter-tester device, drop xvfb
  .github/workflows/dart_tooling_mcp_server.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: type-infra, package:dart_tooling_mcp_server

fix bad merge
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'
