Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

dart doc
  pkgs/dart_tooling_mcp_server/lib/src/utils/process_manager.dart
Labels: package:dart_tooling_mcp_server

use list of objects for commandsRan
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_tooling_mcp_server

[dart_tooling_mcp_server] Add a `dart pub` tool
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_tooling_mcp_server

code review
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

todo
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
Labels: package:dart_tooling_mcp_server

misc pubspec and readme cleanups
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_mcp, package:dart_tooling_mcp_server

wait for Editor.getDebugSessions to be registered before returning the FakeEditorExtension
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

implement a tool to resolve workspace symbols based on a query
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_tooling_mcp_server

workflow client tweaks
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

Break pub tools out into their own support mixin
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
Labels: package:dart_tooling_mcp_server

add user visible title and query description to resolveWorkspaceSymbol tool
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

add tool annotations and migrate to consistent schema patterns
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

checkpoint
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
Labels: package:dart_tooling_mcp_server

mark hot reload as destructive, assume clients will allow auto-approval options
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

add RootsTrackingSupport mixin and use it from analyzer support mixin
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/server/roots_tracking_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/roots_tracking_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

make RootsState private
  pkgs/dart_mcp/lib/src/server/roots_tracking_support.dart
Labels: package:dart_mcp

review comments
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
Labels: package:dart_tooling_mcp_server

initial file integrations for dart tooling daemon
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

more client changes
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

review comments
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

add annotation to new pub tools
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
Labels: package:dart_tooling_mcp_server

dont require roots capabilities
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
Labels: package:dart_tooling_mcp_server

require roots to be set for analyzer tools
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_tooling_mcp_server

add the dash persona as an option to the workflow bot
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

delete dash client, remove mentions from docs
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_mcp, package:dart_tooling_mcp_server

fix flag name
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

add debug logs
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

Add since support for the runtimeErrors tool.
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

add test of since behavior
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

remove unnecessary import
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

followup to comments on https://github.com/dart-lang/ai/pull/88
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

code review updates
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

checkpoint, abstract error listening and listen for debug session changed events
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

checkpoint
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

throttle resource list change events as well and close controllers explicitly
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
Labels: package:dart_mcp

add throttling for resource notifications
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/resources_support_test.dart
Labels: package:dart_mcp

add/improve doc comments
  pkgs/dart_mcp/lib/src/server/resources_support.dart
Labels: package:dart_mcp

Update pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
Labels: package:dart_mcp

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'
