Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

add a test
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
Labels: package:dart_tooling_mcp_server

add todo
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

change tool names to use camelcase
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

readme note
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

run dart fix after merge with main
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

formatting
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

[dart_tooling_mcp_server] add Dart CLI tool support for `dart fix` and `dart format`
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
Labels: package:dart_tooling_mcp_server

start on an example gemini chat client
  .gitignore
  pkgs/dart_mcp/example/gemini_client.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

add chat history
  pkgs/dart_mcp/example/gemini_client.dart
Labels: package:dart_mcp

fix lint issue
  pkgs/dart_mcp/example/gemini_client.dart
Labels: package:dart_mcp

Fix tests
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/analysis_options.yaml
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/bin/dart_fix.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/bin/dart_format.dart
Labels: package:dart_tooling_mcp_server

pass --no-serve-devtools and move dtd ownership to the FakeEditorExtension to more closely mimic the real world
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

remove dtdUri field from TestHarness
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

fix analyzer lint
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

use --no-devtools on flutter
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

clean up a bit the roles and chat history
  pkgs/dart_mcp/example/gemini_client.dart
Labels: package:dart_mcp

refactor to use switch statements, add images to context, etc
  pkgs/dart_mcp/example/gemini_client.dart
Labels: package:dart_mcp

review comments
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/.gitignore
Labels: package:dart_tooling_mcp_server

[dart_tooling_mcp_server] refactor tests to split up by feature
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

make it a DashBot, cause why not
  pkgs/dart_mcp/example/dash_client.dart
Labels: package:dart_mcp

add readme instructions
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_mcp, package:dart_tooling_mcp_server

prep dart_mcp for release
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

add repository field
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

trailing new lines
  .vscode/launch.json
  pkgs/dev_mcp_host/devtools_options.yaml
Labels: none

more new lines
  pkgs/dev_mcp_host/extension/devtools/config.yaml
  pkgs/dev_mcp_host/lib/main.dart
Labels: none

analyze the sentiment of the response instead of just accepting y/n
  pkgs/dart_mcp/example/dash_client.dart
Labels: package:dart_mcp

capitalize Gemini
  pkgs/dart_mcp/README.md
Labels: package:dart_mcp

[dart_tooling_mcp_server] Add a tool for getting runtime errors
  .vscode/launch.json
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/lib/main.dart
Labels: package:dart_tooling_mcp_server

run format on master channel for flutter
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

reformat again
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

handle missing roots capability better
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

review comments
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

refactor a bit so we check earlier on and don't unregister the tool late
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

update the dash client to pass roots with a file URI, fix analysis lint
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

use regexp for test
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

[dart_tooling_mcp_server] Persist VmService objects
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

skip when vm service already exists
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

make private
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

fix format test to unformat the file so it can remain formatted in the repo
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/bin/dart_format.dart
Labels: package:dart_tooling_mcp_server

[dart_tooling_mcp_server] add `get_widget_tree` tool
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'
