Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'

remove environment
  .github/workflows/publish.yaml
Labels: type-infra

move ServerImplementation and instructions to a final field initialized in the constructor
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/roots_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

format
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/logging.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/sampling.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/prompts_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
Labels: package:dart_mcp

format with the dev SDK
  .github/workflows/dart_mcp.yaml
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

format after running pub get, my language version was wrong
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/logging.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/sampling.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/prompts_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
Labels: package:dart_mcp

Update .github/workflows/publish.yaml
  .github/workflows/publish.yaml
Labels: type-infra

checkpoint
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

add Schema types
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

add tests for the schema types
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

expand comments
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

unify on pattern style using raw strings
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

require inputSchema to be an ObjectSchema
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

also update the type of the inputSchema getter
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

rename JsonType.number and JsonType.integer to consistently use the dart type names (int and num)
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

make properties/patternProperties have non-null values
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

drop SchemaCombinator in favor of just List<Schema>, allow you to construct a schema with combinators
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

add title and description fields to all schemas
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

add tests for title/description
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

Add more detailed instructions about the MCP inspector to the readme
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

[dart_tooling_mcp_server] Add a hot reload tool
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

rename withCombinators to combined, document it
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

add static fields to Schema which are tearoffs of the unnamed constructors of the subtypes
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

use const
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

watch for file changes and notify the analyzer
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

get started on analyzer support
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_mcp, package:dart_tooling_mcp_server

checkpoint with basic analysis using AnalysisContextCollection
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
Labels: package:dart_tooling_mcp_server

add test for edits
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
Labels: package:dart_tooling_mcp_server

remove empty env config
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

the sdk is actually up two dirs
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

add caching for flutter action, set the DART_SDK variable
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

try exporting the variable using GITHUB_ENV
  .github/workflows/dart_tooling_mcp_server.yaml
Labels: type-infra

start running analyze test
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

add logging support to help with debugging, fix running in AOT mode
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

refactor the test harness to separate out debug sessions as a separate operation
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

code review
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
Labels: package:dart_tooling_mcp_server

clean up comments a bit
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

fix out of date comment
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

add prefer finals lint and fix it
  pkgs/dart_mcp/analysis_options.yaml
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/roots_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/roots_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/analysis_options.yaml
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

update to 3.7 and reformat
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/logging.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/sampling.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/prompts_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

use single underscoress
  pkgs/dart_tooling_mcp_server/bin/main.dart
Labels: package:dart_tooling_mcp_server
