Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'

Remove unused query parameters
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Make client mockable
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Add test
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/README.md
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fbuxing
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fbuxing%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_file_uploader
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_file_uploader%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_retry_plus
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_retry_plus%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_smart_retry
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_smart_retry%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fen_file_uploader
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fen_file_uploader%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Ffuturistic
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Ffuturistic%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_client_helper
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_client_helper%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_file_uploader
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_file_uploader%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fnetwork_checker
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fnetwork_checker%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fretry
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fretry%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fsearch%3Fq%3Dretry
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fbuxing%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fdio_file_uploader%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fdio_retry_plus%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fdio_smart_retry%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fen_file_uploader%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Ffuturistic%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fhttp_client_helper%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fhttp_file_uploader%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fnetwork_checker%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fretry%2Flatest%2Findex.json
Labels: package:dart_tooling_mcp_server

Better golden file error message
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Privatify name
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Test failure
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Run subqueries in parallel
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

Test and fix json dig
  pkgs/dart_tooling_mcp_server/lib/src/utils/json.dart
  pkgs/dart_tooling_mcp_server/test/json_utils_test.dart
Labels: package:dart_tooling_mcp_server

Make pool top-level static
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/README.md
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/README.md
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/README.md
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/README.md
Labels: package:dart_tooling_mcp_server

show thinking text and input/output token usage
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

Add supported tools to the MCP server README
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

add signature_help tool
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_tooling_mcp_server

grammar
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

add the signatureHelp capability
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

add basic file system server
  pkgs/dart_mcp/example/file_system_server.dart
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

add a test command and project detection
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/utils/cli_utils_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/pubspec.yaml
Labels: package:dart_tooling_mcp_server

remove extra A command-line utility for Dart development.
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dash_cli.dart
Labels: package:dart_tooling_mcp_server

change pub test expectations
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
Labels: package:dart_tooling_mcp_server

add publish_to: none to dart cli app
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/pubspec.yaml
Labels: package:dart_tooling_mcp_server

Update pkgs/dart_tooling_mcp_server/lib/src/utils/json.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/json.dart
Labels: package:dart_tooling_mcp_server

json util, handle specified types
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/json.dart
  pkgs/dart_tooling_mcp_server/test/json_utils_test.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

Update pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Handle generic types
  pkgs/dart_tooling_mcp_server/test/json_utils_test.dart
Labels: package:dart_tooling_mcp_server

Add supported tools to the MCP server README (#109)
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

Continue making `instructions` optional. (#107)
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/server/server.dart
Labels: package:dart_mcp

Making `instructions` optional. (#98)
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/initialization.dart
Labels: package:dart_mcp

Release dart_mcp version 0.2.0 (#106)
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

Add runtime errors resource and tool to clear errors. (#94)
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

add signature_help tool (#110)
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_tooling_mcp_server

add test for server closing early to validate behavior (#105)
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

Remove nonsense
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

add option to log protocol messages to a Sink<String> (#102)
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/roots_test.dart
  pkgs/dart_mcp/test/roots_tracking_support_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

Require roots for all CLI tools (#101)
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
  pkgs/dart_tooling_mcp_server/test/utils/cli_utils_test.dart
Labels: package:dart_tooling_mcp_server

show thinking text and input/output token usage (#108)
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

Modify DTD connection verbiage in example client (#104)
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

Tolerate missing sub-responses
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Report error when no packages found
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

dartfmt
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server
