Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

update changelog
  pkgs/dart_mcp/CHANGELOG.md
Labels: package:dart_mcp

update prior to equality check also
  pkgs/dart_mcp/example/file_system_server.dart
Labels: package:dart_mcp

clean up pubspec, add README.md
  pkgs/dart_mcp/example/workflow_chat/README.md
  pkgs/dart_mcp/example/workflow_chat/pubspec.yaml
Labels: package:dart_mcp

add defensive code around the candidates
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
Labels: package:dart_mcp

disable input box when dash is thinking
  pkgs/dart_mcp/example/workflow_chat/lib/widgets/text_composer.dart
Labels: package:dart_mcp

add retry logic
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
Labels: package:dart_mcp

add dark mode
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/main.dart
Labels: package:dart_mcp

add gemini vs dash mode toggle
  pkgs/dart_mcp/example/workflow_chat/assets/gemini.png
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
Labels: package:dart_mcp

add dash and gemini modes
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/widgets/message_bubble.dart
  pkgs/dart_mcp/example/workflow_chat/pubspec.yaml
Labels: package:dart_mcp

trim messages
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/services/gemini_config.dart
  pkgs/dart_mcp/example/workflow_chat/lib/widgets/message_bubble.dart
Labels: package:dart_mcp

add the API key as a saved setting
  pkgs/dart_mcp/example/workflow_chat/README.md
  pkgs/dart_mcp/example/workflow_chat/ios/Flutter/Debug.xcconfig
  pkgs/dart_mcp/example/workflow_chat/ios/Flutter/Release.xcconfig
  pkgs/dart_mcp/example/workflow_chat/ios/Podfile
  pkgs/dart_mcp/example/workflow_chat/lib/api_key_service.dart
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/macos/Flutter/Flutter-Debug.xcconfig
  pkgs/dart_mcp/example/workflow_chat/macos/Flutter/Flutter-Release.xcconfig
  pkgs/dart_mcp/example/workflow_chat/macos/Flutter/GeneratedPluginRegistrant.swift
  pkgs/dart_mcp/example/workflow_chat/macos/Podfile
  pkgs/dart_mcp/example/workflow_chat/macos/Podfile.lock
  pkgs/dart_mcp/example/workflow_chat/macos/Runner.xcodeproj/project.pbxproj
  pkgs/dart_mcp/example/workflow_chat/macos/Runner.xcworkspace/contents.xcworkspacedata
  pkgs/dart_mcp/example/workflow_chat/pubspec.yaml
Labels: package:dart_mcp

fix bad $ escapes
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/main.dart
Labels: package:dart_mcp

make chat text selectable
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/services/mcp_client.dart
  pkgs/dart_mcp/example/workflow_chat/lib/widgets/message_bubble.dart
Labels: package:dart_mcp

save persona preferences
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
Labels: package:dart_mcp

save theme preferences
  pkgs/dart_mcp/example/workflow_chat/lib/main.dart
Labels: package:dart_mcp

add screen to choose working dir
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/directory_input_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/main.dart
  pkgs/dart_mcp/example/workflow_chat/lib/services/mcp_client.dart
Labels: package:dart_mcp

Extract result count constant
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

End with period
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Use named records
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

End with period
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
Labels: package:dart_tooling_mcp_server

Break up lines
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

Extract test helper
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_tooling_mcp_server

add project directory selection
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/directory_input_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/main.dart
  pkgs/dart_mcp/example/workflow_chat/macos/Flutter/GeneratedPluginRegistrant.swift
  pkgs/dart_mcp/example/workflow_chat/macos/Podfile.lock
  pkgs/dart_mcp/example/workflow_chat/macos/Runner/DebugProfile.entitlements
  pkgs/dart_mcp/example/workflow_chat/macos/Runner/Release.entitlements
  pkgs/dart_mcp/example/workflow_chat/pubspec.yaml
Labels: package:dart_mcp

remove api key config from launch.json
  .vscode/launch.json
Labels: none

add a setting to save the DTD uri and provide it as a part of the initial context
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
Labels: package:dart_mcp

add tool call timeout, fix paths
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
Labels: package:dart_mcp

add enable and disable widget selection mode
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

add a test
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

fix test failure
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

Fix notification bug where null parameters caused type error
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

fix project directory selection so it gives a file uri
  pkgs/dart_mcp/example/workflow_chat/lib/main.dart
Labels: package:dart_mcp

allow model selection
  pkgs/dart_mcp/example/workflow_chat/lib/chat_screen.dart
  pkgs/dart_mcp/example/workflow_chat/lib/services/gemini_config.dart
Labels: package:dart_mcp

Add MCP annotations and code generation packages
  README.md
  examples/demo_server/bin/main.dart
  examples/demo_server/bin/main.mcp.g.dart
  examples/demo_server/build.yaml
  examples/demo_server/pubspec.yaml
  pkgs/mcp_annotations/README.md
  pkgs/mcp_annotations/lib/mcp_annotations.dart
  pkgs/mcp_annotations/pubspec.yaml
  pkgs/mcp_codegen/README.md
  pkgs/mcp_codegen/build.yaml
  pkgs/mcp_codegen/lib/mcp_codegen.dart
  pkgs/mcp_codegen/lib/src/mcp_generator.dart
  pkgs/mcp_codegen/pubspec.yaml
Labels: none

Update files to include copyright
  examples/demo_server/bin/main.dart
  pkgs/mcp_annotations/lib/mcp_annotations.dart
  pkgs/mcp_codegen/lib/mcp_codegen.dart
  pkgs/mcp_codegen/lib/src/mcp_generator.dart
Labels: none

Rename demo server package from `fast_mcp_demo` to `demo_server` in pubspec.yaml
  examples/demo_server/pubspec.yaml
Labels: none

Refactor MCPDemoServer class in main.dart
  examples/demo_server/bin/main.dart
Labels: none

Implement MCP code generation framework
  pkgs/mcp_codegen/lib/src/builders/handler_builder.dart
  pkgs/mcp_codegen/lib/src/builders/schema_builder.dart
  pkgs/mcp_codegen/lib/src/builders/server_builder.dart
  pkgs/mcp_codegen/lib/src/emitter/code_emitter.dart
  pkgs/mcp_codegen/lib/src/mcp_generator.dart
  pkgs/mcp_codegen/lib/src/scanners/annotation_scanner.dart
  pkgs/mcp_codegen/lib/src/scanners/tool_scanner.dart
  pkgs/mcp_codegen/lib/src/utils/annotation_utils.dart
Labels: none

Add tests for code generation
  pkgs/mcp_codegen/lib/src/builders/handler_builder.dart
  pkgs/mcp_codegen/lib/src/builders/server_builder.dart
  pkgs/mcp_codegen/test/builders/handler_builder_test.dart
  pkgs/mcp_codegen/test/builders/schema_builder_test.dart
  pkgs/mcp_codegen/test/builders/server_code_emitter_test.dart
  pkgs/mcp_codegen/test/scanners/annotation_scanner_test.dart
  pkgs/mcp_codegen/test/scanners/tool_scanner_test.dart
  pkgs/mcp_codegen/test/utils_test.dart
Labels: none

Refactor generated code in main.mcp.g.dart
  examples/demo_server/bin/main.mcp.g.dart
Labels: none

Update test files to include copyright notices
  pkgs/mcp_codegen/test/builders/handler_builder_test.dart
  pkgs/mcp_codegen/test/builders/schema_builder_test.dart
  pkgs/mcp_codegen/test/builders/server_code_emitter_test.dart
  pkgs/mcp_codegen/test/scanners/annotation_scanner_test.dart
  pkgs/mcp_codegen/test/scanners/tool_scanner_test.dart
  pkgs/mcp_codegen/test/utils_test.dart
Labels: none

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'
