Repository dart-lang/ai, changes with the labels that .github/labeler.yml gives for each.
All labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

Add tests
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/lib/main.dart
Labels: package:dart_tooling_mcp_server

add test
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

remove details
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

fix tests
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

add logging support to the dash client example and save server capabilites per connection
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

only await vm service disposals for testing purposes
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

add try catch
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

formatting
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
Labels: package:dart_tooling_mcp_server

add parens
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

code review update and other fixes
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/dash_client.dart
Labels: package:dart_mcp

checkpoint
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/resources_support_test.dart
Labels: package:dart_mcp

stop trying to use package:uri, leave it up to resource template handlers to do any parsing
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/resources_support_test.dart
Labels: package:dart_mcp

add changelog entry
  pkgs/dart_mcp/CHANGELOG.md
Labels: package:dart_mcp

self review
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
Labels: package:dart_mcp

fix paginated result cursor keys, add readme descriptions for transport/authorization/batching support
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

fully update the spec for version 2025-03-26
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
Labels: package:dart_mcp

make ProtocolVersion an enum, add version negotiation logic with auto shutdown
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

terminate stdio server processes
  pkgs/dart_mcp/lib/src/client/client.dart
Labels: package:dart_mcp

small grammar fix
  pkgs/dart_mcp/README.md
Labels: package:dart_mcp

add tests for version negotiation
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

add more to changelog, add tests for comparing protocol versions
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

update pubspec version as well
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

use regular comment, move protocol version tests to api_test.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api_test.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

reflow comments, rename latest to latestSupported, oldestSupportedVersion to oldestSupported
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/api_test.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/test_utils.dart
Labels: package:dart_mcp

add <= latestSupported logic, even though it cant be tested right now
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

swallow file system exceptions from the directory watcher
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_tooling_mcp_server

[dart_tooling_mcp_server] add tool for getting the selected widget
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

fix
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

json encode
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

formatting
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_tooling_mcp_server

Add `--auto` and `--raw` flags to the Dash client
  pkgs/dart_mcp/example/dash_client.dart
Labels: package:dart_mcp

readme
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

Add an example client to execute a workflow
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_mcp, package:dart_tooling_mcp_server

process manager attempt
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/process_manager.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

checkpoint, spawning server ourselves
  pkgs/dart_tooling_mcp_server/lib/src/lsp/wire_format.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_tooling_mcp_server

get analysis working via LSP
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_tooling_mcp_server/lib/src/lsp/wire_format.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

revert json_rpc_2 constraint
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

drop analyzer dep
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_tooling_mcp_server

Add `ProcessManagerSupport` mixin
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/process_manager.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_tooling_mcp_server

review comments
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/process_manager.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_tooling_mcp_server

.github/labeler.yml:

# Configuration for .github/workflows/pull_request_label.yml.

'type-infra':
  - changed-files:
    - any-glob-to-any-file: '.github/**'

'package:dart_mcp':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_mcp/**'

'package:dart_tooling_mcp_server':
  - changed-files:
    - any-glob-to-any-file: 'pkgs/dart_tooling_mcp_server/**'
