Repository dart-lang/ai, pull requests merged in 2025-07, with the labels that each got.

#212 move static argParser variable to a createArgParser function
  pkgs/dart_mcp_server/lib/arg_parser.dart
  pkgs/dart_mcp_server/lib/src/arg_parser.dart
  pkgs/dart_mcp_server/lib/src/server.dart
Labels: package:dart_mcp_server

#213 add a test that the arg parser library only depends on package:args
  pkgs/dart_mcp_server/pubspec.yaml
  pkgs/dart_mcp_server/test/arg_parser_test.dart
Labels: autosubmit, package:dart_mcp_server

#216 release dart_mcp 0.3.0
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

#206 Remove VS Code mcp instructions in favor of Dart-Code setting.
  pkgs/dart_mcp_server/README.md
Labels: package:dart_mcp_server

#219 Add failure reasons to tool call analytics events
  pkgs/dart_mcp_server/CHANGELOG.md
  pkgs/dart_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_mcp_server/lib/src/server.dart
  pkgs/dart_mcp_server/lib/src/utils/analytics.dart
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_mcp_server/test/tools/pub_dev_search_test.dart
Labels: autosubmit, package:dart_mcp_server

#226 Allow multiple package arguments to pub commands
  pkgs/dart_mcp_server/CHANGELOG.md
  pkgs/dart_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_mcp_server/test/tools/pub_test.dart
Labels: package:dart_mcp_server

#192 add a CI check that the readme file is up-to-date
  .github/workflows/dart_mcp_server.yaml
  pkgs/dart_mcp_server/README.md
  pkgs/dart_mcp_server/tool/update_readme.dart
Labels: type-infra, package:dart_mcp_server

#228 Add more and better examples
  mcp_examples/bin/file_system_server.dart
  mcp_examples/bin/workflow_client.dart
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/README.md
  pkgs/dart_mcp/example/prompts_client.dart
  pkgs/dart_mcp/example/prompts_server.dart
  pkgs/dart_mcp/example/resources_client.dart
  pkgs/dart_mcp/example/resources_server.dart
  pkgs/dart_mcp/example/roots_and_logging_client.dart
  pkgs/dart_mcp/example/roots_and_logging_server.dart
  pkgs/dart_mcp/example/simple_server.dart
  pkgs/dart_mcp/example/tools_client.dart
  pkgs/dart_mcp/example/tools_server.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/stdio.dart
  pkgs/dart_mcp/test/api/prompts_test.dart
  pkgs/dart_mcp_server/lib/src/server.dart
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/tool/update_readme.dart
Labels: autosubmit, package:dart_mcp, package:dart_mcp_server

#229 add elicitation example, fix some issues with the elicitation APIs
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/elicitations_client.dart
  pkgs/dart_mcp/example/elicitations_server.dart
  pkgs/dart_mcp/example/tools_client.dart
  pkgs/dart_mcp/lib/src/api/elicitation.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
Labels: autosubmit, package:dart_mcp

#230 add a sampling example
  pkgs/dart_mcp/example/sampling_client.dart
  pkgs/dart_mcp/example/sampling_server.dart
Labels: autosubmit, package:dart_mcp

#231 Deprecate the WithElicitationhandler interface
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/client/elicitation_support.dart
Labels: autosubmit, package:dart_mcp

#233 add completions support to the prompts example
  pkgs/dart_mcp/example/prompts_and_completions_client.dart
  pkgs/dart_mcp/example/prompts_and_completions_server.dart
  pkgs/dart_mcp/example/prompts_client.dart
Labels: autosubmit, package:dart_mcp

#234 release dart_mcp 0.3.1
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

#235 fix the firstMatchOnly and matchRoot schemas to be booleans
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_mcp_server

#236 Deprecate EnumSchema and JsonType.enumeration
  mcp_examples/bin/workflow_client.dart
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/elicitations_client.dart
  pkgs/dart_mcp/example/elicitations_server.dart
  pkgs/dart_mcp/lib/src/api/elicitation.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/api/tools_test.dart
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/pubspec.yaml
Labels: package:dart_mcp, package:dart_mcp_server

#237 release dart_mcp version 0.3.2
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

#241 Flutter driver updates, add screenshot support back
  pkgs/dart_mcp_server/CHANGELOG.md
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_mcp_server/test/tools/pub_dev_search_test.dart
  pkgs/dart_mcp_server/test/tools/pub_test.dart
Labels: package:dart_mcp_server

#247 release dart_mcp v0.3.3
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

#252 only run in shell when on windows and running a .bat file
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
Labels: package:dart_mcp, package:dart_mcp_server
