Repository dart-lang/ai, pull requests merged in 2025-04, with the labels that each got.

#24 Add Sampling support
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completion.dart
  pkgs/dart_mcp/lib/src/api/sampling.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/sampling_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
Labels: autosubmit, package:dart_mcp

#25 Port Annotation apis and add test exercising them.
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

#26 Add support for Completions
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completion.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/completions_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/completions_test.dart
Labels: package:dart_mcp

#27 support requests with no request params and no response data, handle null params for ping and listTools
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

#30 [cleanup] remove the server name argument from the connect methods
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/roots_support.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/test_utils.dart
Labels: autosubmit, package:dart_mcp

#34 populate package info in README.md
  README.md
Labels: autosubmit

#36 update repo infra for package:dart_tooling_mcp_server.md
  .github/ISSUE_TEMPLATE/dart_tooling_mcp_server.md
  .github/labeler.yml
Labels: type-infra

#39 move ServerImplementation and instructions to a final field
  .github/workflows/dart_mcp.yaml
  .github/workflows/dart_tooling_mcp_server.yaml
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/roots_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server

#38 add health and publish workflows
  .github/workflows/health.yaml
  .github/workflows/post_summaries.yaml
  .github/workflows/publish.yaml
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
Labels: autosubmit, type-infra, package:dart_mcp

#40 Add Schema type for creating input schemas using typed interfaces
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server, skip-changelog-check

#43 Add basic analysis support
  .github/workflows/dart_tooling_mcp_server.yaml
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: type-infra, package:dart_mcp, package:dart_tooling_mcp_server, skip-changelog-check

#45 refactor the test harness to separate out debug sessions
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#47 Update language version and add prefer_final_locals
  pkgs/dart_mcp/analysis_options.yaml
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/server.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/logging.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/sampling.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/roots_support.dart
  pkgs/dart_mcp/lib/src/server/prompts_support.dart
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/completions_test.dart
  pkgs/dart_mcp/test/logging_test.dart
  pkgs/dart_mcp/test/prompts_test.dart
  pkgs/dart_mcp/test/resources_support_test.dart
  pkgs/dart_mcp/test/roots_test.dart
  pkgs/dart_mcp/test/sampling_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/analysis_options.yaml
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server, skip-changelog-check

#42 [dart_tooling_mcp_server] Add a hot reload tool
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

#50 disable devtools in `run` commands and move dtd ownership to the FakeEditorExtension
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#49 start on an example dash chat client
  .gitignore
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server, skip-changelog-check

#52 [dart_tooling_mcp_server] refactor tests to split up by feature
  pkgs/dart_tooling_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

#55 analyze the sentiment of the response instead of just accepting y/n
  pkgs/dart_mcp/example/dash_client.dart
Labels: package:dart_mcp

#54 prep dart_mcp for release
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

#59 [dart_tooling_mcp_server] Add a tool for getting runtime errors
  .vscode/launch.json
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/lib/main.dart
Labels: package:dart_tooling_mcp_server

#60 run format on master channel for flutter
  .github/workflows/dart_tooling_mcp_server.yaml
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/bin/dart_format.dart
Labels: autosubmit, type-infra, package:dart_tooling_mcp_server

#63 [dart_tooling_mcp_server] add `get_widget_tree` tool
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

#61 handle missing roots capability better
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

#64 add logging support to the dash client example and save server capabilites per connection
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

#62 [dart_tooling_mcp_server] Persist VmService objects
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/counter_app/lib/main.dart
Labels: package:dart_tooling_mcp_server

#70 Update spec to 2025-03-26
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/api_test.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp/test/tools_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

#71 [dart_tooling_mcp_server] add tool for getting the selected widget
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

#72 Add `--auto` and `--raw` flags to the Dash client
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_mcp, package:dart_tooling_mcp_server

#75 Add `ProcessManagerSupport` mixin to make CLI command end points more testable
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/process_manager.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#74 Update analyze tool to use LSP, simplify tool
  pkgs/dart_tooling_mcp_server/lib/src/lsp/wire_format.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_tooling_mcp_server

#78 misc pubspec and readme cleanups
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: package:dart_mcp, package:dart_tooling_mcp_server, skip-changelog-check

#76 [dart_tooling_mcp_server] Add a dart pub tool
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_tooling_mcp_server

#79 implement a tool to resolve workspace symbols based on a query
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: package:dart_tooling_mcp_server

#82 Break pub tools out into their own support mixin
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
Labels: autosubmit, package:dart_tooling_mcp_server, dart_tooling_mcp_server: pub tools

#73 Add an example client to execute a workflow
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_tooling_mcp_server/README.md
Labels: autosubmit, package:dart_mcp, package:dart_tooling_mcp_server

#85 Add a RootsTrackingSupport mixin for servers, use it from DartAnalyzerSupport
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/server/roots_tracking_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/roots_tracking_support_test.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dart_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
Labels: autosubmit, package:dart_mcp, package:dart_tooling_mcp_server

#88 add the dash persona as an option to the workflow bot, delete dash bot
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/dash_client.dart
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_tooling_mcp_server/README.md
Labels: autosubmit, package:dart_mcp, package:dart_tooling_mcp_server, skip-changelog-check

#89 add debug logs for when DTD sees Editor.getDebugSessions get registered
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#90 Add support for `since` argument to `runtimeErrors` tool
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

#87 require roots to be set for analyzer tools
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#91 followup to comments on https://github.com/dart-lang/ai/pull/88
  pkgs/dart_tooling_mcp_server/README.md
Labels: autosubmit, package:dart_tooling_mcp_server

#92 Add throttling for resource notifications
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/server/resources_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/resources_support_test.dart
Labels: autosubmit, package:dart_mcp
