Repository dart-lang/ai, pull requests merged in 2025-06, with the labels that each got.

#149 run tests on windows, fix executable paths for dart/flutter
  .github/workflows/dart_mcp.yaml
  .github/workflows/dart_mcp_server.yaml
  pkgs/dart_mcp_server/lib/src/utils/sdk.dart
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_mcp_server/test/tools/pub_test.dart
Labels: type-infra, package:dart_mcp_server

#152 handle relative paths under roots without trailing slashes
  .github/workflows/dart_mcp_server.yaml
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/test/utils/cli_utils_test.dart
Labels: type-infra, package:dart_mcp_server

#163 Retain compatibility with 3.7 SDKs
  pkgs/dart_mcp_server/bin/main.dart
  pkgs/dart_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_mcp_server/lib/src/mixins/roots_fallback_support.dart
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/pubspec.yaml
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_mcp_server/test/tools/pub_dev_search_test.dart
  pkgs/dart_mcp_server/test/tools/pub_test.dart
Labels: package:dart_mcp_server

#175 Use shared Implementation type, add clientInfo field to MCPServer
  mcp_examples/bin/file_system_server.dart
  mcp_examples/bin/workflow_client.dart
  mcp_examples/pubspec.yaml
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/simple_client.dart
  pkgs/dart_mcp/example/simple_server.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/sampling_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/api/sampling_test.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp/test/test_utils.dart
  pkgs/dart_mcp_server/lib/src/server.dart
  pkgs/dart_mcp_server/pubspec.yaml
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/test/tools/roots_fallback_support_test.dart
Labels: package:dart_mcp, package:dart_mcp_server

#178 improve tool description for the dtd connection tool and improve error messages
  pkgs/dart_mcp_server/CHANGELOG.md
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/pubspec.yaml
Labels: package:dart_mcp_server

#179 fix cruft in description
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
Labels: package:dart_mcp_server

#180 make the log file test less flaky by retrying deletes and reads
  pkgs/dart_mcp_server/test/dart_tooling_mcp_server_test.dart
Labels: package:dart_mcp_server

#174 add analytics support to the Dart MCP server
  pkgs/dart_mcp_server/CHANGELOG.md
  pkgs/dart_mcp_server/bin/main.dart
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/lib/src/server.dart
  pkgs/dart_mcp_server/lib/src/utils/analytics.dart
  pkgs/dart_mcp_server/pubspec.yaml
  pkgs/dart_mcp_server/test/dart_tooling_mcp_server_test.dart
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_mcp_server

#184 Add error checks for accessing Request members
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/logging.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/roots.dart
  pkgs/dart_mcp/lib/src/api/sampling.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/api/api_test.dart
Labels: package:dart_mcp

#194 Update `simple_client.dart` for updated `hello_world` tool name
  pkgs/dart_mcp/example/simple_client.dart
Labels: package:dart_mcp

#193 Update to new MCP spec version
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/completions.dart
  pkgs/dart_mcp/lib/src/api/elicitation.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/api/prompts.dart
  pkgs/dart_mcp/lib/src/api/resources.dart
  pkgs/dart_mcp/lib/src/api/roots.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/client/elicitation_support.dart
  pkgs/dart_mcp/lib/src/server/elicitation_request_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/test/api/api_test.dart
  pkgs/dart_mcp/test/api/completions_test.dart
  pkgs/dart_mcp/test/api/elicitation_test.dart
  pkgs/dart_mcp/test/api/tools_test.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
  pkgs/dart_mcp_server/pubspec.yaml
Labels: package:dart_mcp, package:dart_mcp_server

#200 auto validate tool arguments, improve validation messages
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/lib/src/server/tools_support.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/api/tools_test.dart
  pkgs/dart_mcp/test/server/tools_support_test.dart
  pkgs/dart_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_mcp_server/lib/src/server.dart
  pkgs/dart_mcp_server/pubspec.yaml
  pkgs/dart_mcp_server/test/tools/dtd_test.dart
  pkgs/dart_mcp_server/test/tools/pub_test.dart
  pkgs/dart_mcp_server/test_fixtures/counter_app/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  pkgs/dart_mcp_server/test_fixtures/counter_app/android/local.properties
Labels: package:dart_mcp, package:dart_mcp_server

#191 add a github workflow for mcp_examples/
  .github/workflows/mcp_examples.yaml
Labels: type-infra

#205 Pin the SDK git ref and add caching on github actions
  .github/workflows/dart_mcp_server.yaml
  pkgs/dart_mcp_server/pubspec.yaml
Labels: type-infra, package:dart_mcp_server

#210 disable the screenshots tool by default
  pkgs/dart_mcp_server/CHANGELOG.md
  pkgs/dart_mcp_server/README.md
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/lib/src/server.dart
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/test/tools/dtd_test.dart
Labels: autosubmit, package:dart_mcp_server
