Repository dart-lang/ai, pull requests merged in 2025-05, with the labels that each got.

#98 Making `instructions` optional.
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/initialization.dart
Labels: package:dart_mcp

#94 Add runtime errors resource and tool to clear errors.
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

#104 Modify DTD connection verbiage in example client
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

#105 add test for server closing early to validate behavior
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp, skip-changelog-check

#107 Continue making `instructions` optional.
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/server/server.dart
Labels: package:dart_mcp

#106 Release dart_mcp version 0.2.0
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/pubspec.yaml
Labels: package:dart_mcp

#109 Add supported tools to the MCP server README
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_tooling_mcp_server

#110 add signature_help tool
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#112 add basic file system server example
  pkgs/dart_mcp/example/file_system_server.dart
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_mcp/pubspec.yaml
Labels: autosubmit, package:dart_mcp, skip-changelog-check

#113 add a test command and project detection
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/file_system.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_test.dart
  pkgs/dart_tooling_mcp_server/test/utils/cli_utils_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/dart_cli_app/pubspec.yaml
Labels: autosubmit, package:dart_tooling_mcp_server

#117 Clear context after completing a workflow
  pkgs/dart_mcp/example/workflow_client.dart
Labels: package:dart_mcp

#115 add hover tool support
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_tooling_mcp_server/test/tools/analyzer_test.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#116 Add a tool to get the active cursor location
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

#118 fix MCPClient.connectStdioServer to forward the protocolLogSink
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/client/client.dart
Labels: package:dart_mcp

#119 Update file server example to support relative paths
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/file_system_server.dart
Labels: package:dart_mcp

#121 Add tool for enabling/disabling the widget selector
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

#120 Fix notification bug where null parameters caused type error
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/shared.dart
  pkgs/dart_mcp/test/client_and_server_test.dart
Labels: package:dart_mcp

#125 fix file system server to look up relative paths in the proper root
  pkgs/dart_mcp/example/file_system_server.dart
Labels: package:dart_mcp

#124 handle failing to listen to vm service streams during startup
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#123 use `dart pub run` for the server to speed up tests.
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: package:dart_tooling_mcp_server

#127 Add some flags to example, fix version issue
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/example/client.dart
  pkgs/dart_mcp/example/workflow_client.dart
  pkgs/dart_mcp/lib/src/api/initialization.dart
  pkgs/dart_mcp/lib/src/client/client.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_mcp/lib/src/shared.dart
Labels: package:dart_mcp

#129 drop pubspec-parse, use yaml instead
  pkgs/dart_tooling_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
Labels: autosubmit, package:dart_tooling_mcp_server

#103 A 'pub-dev-search' mcp tool
  pkgs/dart_tooling_mcp_server/README.md
  pkgs/dart_tooling_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/json.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/json_utils_test.dart
  pkgs/dart_tooling_mcp_server/test/tools/pub_dev_search_test.dart
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/README.md
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fbuxing
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fbuxing%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_file_uploader
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_file_uploader%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_retry_plus
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_retry_plus%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_smart_retry
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fdio_smart_retry%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fen_file_uploader
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fen_file_uploader%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Ffuturistic
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Ffuturistic%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_client_helper
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_client_helper%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_file_uploader
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fhttp_file_uploader%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fnetwork_checker
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fnetwork_checker%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fretry
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fpackages%2Fretry%2Fscore
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fapi%2Fsearch%3Fq%3Dretry
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fbuxing%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fdio_file_uploader%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fdio_retry_plus%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fdio_smart_retry%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fen_file_uploader%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Ffuturistic%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fhttp_client_helper%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fhttp_file_uploader%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fnetwork_checker%2Flatest%2Findex.json
  pkgs/dart_tooling_mcp_server/test_fixtures/pub_dev_responses/https%3A%2F%2Fpub.dev%2Fdocumentation%2Fretry%2Flatest%2Findex.json
Labels: package:dart_tooling_mcp_server

#131 fix error handling around stream listeners
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
Labels: autosubmit, package:dart_tooling_mcp_server

#132 Add RootsFallbackSupport mixin
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/server/roots_tracking_support.dart
  pkgs/dart_mcp/lib/src/server/server.dart
  pkgs/dart_tooling_mcp_server/bin/main.dart
  pkgs/dart_tooling_mcp_server/lib/src/mixins/roots_fallback_support.dart
  pkgs/dart_tooling_mcp_server/lib/src/server.dart
  pkgs/dart_tooling_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_tooling_mcp_server/pubspec.yaml
  pkgs/dart_tooling_mcp_server/test/tools/roots_fallback_support_test.dart
Labels: package:dart_mcp, package:dart_tooling_mcp_server

#130 migrate example dir to be a package, add README
  mcp_examples/README.md
  mcp_examples/bin/file_system_server.dart
  mcp_examples/bin/workflow_client.dart
  mcp_examples/pubspec.yaml
  pkgs/dart_mcp/README.md
  pkgs/dart_mcp/example/README.md
  pkgs/dart_mcp/example/simple_client.dart
  pkgs/dart_mcp/example/simple_server.dart
  pkgs/dart_mcp/pubspec.yaml
  pkgs/dart_tooling_mcp_server/README.md
Labels: package:dart_mcp, package:dart_tooling_mcp_server, skip-changelog-check

#126 Add Schema validation
  pkgs/dart_mcp/CHANGELOG.md
  pkgs/dart_mcp/lib/src/api/api.dart
  pkgs/dart_mcp/lib/src/api/tools.dart
  pkgs/dart_mcp/test/api/api_test.dart
  pkgs/dart_mcp/test/api/completions_test.dart
  pkgs/dart_mcp/test/api/logging_test.dart
  pkgs/dart_mcp/test/api/prompts_test.dart
  pkgs/dart_mcp/test/api/roots_test.dart
  pkgs/dart_mcp/test/api/sampling_test.dart
  pkgs/dart_mcp/test/api/tools_test.dart
  pkgs/dart_mcp/test/server/resources_support_test.dart
  pkgs/dart_mcp/test/server/roots_tracking_support_test.dart
  pkgs/dart_mcp/test/server/tools_support_test.dart
  pkgs/dart_mcp/test/tools_support_test.dart
Labels: package:dart_mcp

#137 use flutter-tester device, drop xvfb
  .github/workflows/dart_tooling_mcp_server.yaml
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
Labels: autosubmit, type-infra, package:dart_tooling_mcp_server

#136 fix readme link
  pkgs/dart_mcp/README.md
Labels: package:dart_mcp, skip-changelog-check

#133 Move more tests to dart cli tests
  pkgs/dart_tooling_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_tooling_mcp_server/test/test_harness.dart
  pkgs/dart_tooling_mcp_server/test/tools/dtd_test.dart
Labels: package:dart_tooling_mcp_server

#139 Limit the tokens returned by the runtime errors tool/resource
  .github/workflows/pull_request_label.yml
  pkgs/dart_mcp_server/lib/src/mixins/dtd.dart
  pkgs/dart_mcp_server/test/tools/dtd_test.dart
Labels: autosubmit, type-infra, package:dart_mcp_server

#140 Flutter/Dart create tool
  pkgs/dart_mcp_server/README.md
  pkgs/dart_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_mcp_server

#146 remove qualifiedNames from the pub dev api search
  pkgs/dart_mcp_server/lib/src/mixins/pub_dev_search.dart
  pkgs/dart_mcp_server/test/tools/pub_dev_search_test.dart
Labels: package:dart_mcp_server

#143 Invoke dart/flutter in a more robust way
  pkgs/dart_mcp_server/bin/main.dart
  pkgs/dart_mcp_server/lib/dart_mcp_server.dart
  pkgs/dart_mcp_server/lib/src/mixins/analyzer.dart
  pkgs/dart_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_mcp_server/lib/src/mixins/pub.dart
  pkgs/dart_mcp_server/lib/src/server.dart
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/lib/src/utils/sdk.dart
  pkgs/dart_mcp_server/test/test_harness.dart
  pkgs/dart_mcp_server/test/tools/dart_cli_test.dart
  pkgs/dart_mcp_server/test/tools/pub_test.dart
  pkgs/dart_mcp_server/test/utils/cli_utils_test.dart
Labels: package:dart_mcp_server

#144 Add the --platform and --empty arguments to the flutter create tool
  pkgs/dart_mcp_server/lib/src/mixins/dash_cli.dart
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/lib/src/utils/constants.dart
  pkgs/dart_mcp_server/lib/src/utils/process_manager.dart
  pkgs/dart_mcp_server/test/tools/dart_cli_test.dart
Labels: package:dart_mcp_server

#147 create the working dir if it doesn't exist
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/test/utils/cli_utils_test.dart
Labels: package:dart_mcp_server

#148 Be more flexible about roots by comparing canonicalized paths
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/pubspec.yaml
  pkgs/dart_mcp_server/test/utils/cli_utils_test.dart
Labels: package:dart_mcp_server

#150 pass the provided root instead of the resolved root for project type detection
  pkgs/dart_mcp_server/lib/src/utils/cli_utils.dart
  pkgs/dart_mcp_server/test/tools/pub_test.dart
Labels: package:dart_mcp_server
